# Общий токен связи между основным Roomly и Staff API.
# Значение должно совпадать в main и staff.
ROOMLY_INTEGRATION_TOKEN=roomly_coursework_integration_token

# Основной Roomly API
PORT=3000
STAFF_API_URL=http://127.0.0.1:3100/api

# Staff API
STAFF_API_PORT=3100
MAIN_ROOMLY_API_URL=http://127.0.0.1:3000/api
